
$color-blue: #106cc8;
$color-red: #da493d;
$color-pink: #be53b7;
$color-green: #4d8f40;


$color-gray: #acacac;
$color-black: #1a2326;
$color-white: #ffffff;


$text-color: $color-black;
$border-color: $color-gray;

