@import 'colors';
@import 'mixins';

$main-font-size: 13px;


// inputs
$checkbox-size: 16px;

$input-text-height: 20px;
$input-border-color: $border-color;
$input-background-color: white;




$main-horizontal-padding: 10px;
$main-vertical-padding: 7px;

// icon
$icon-color: rgba($color-white, 0.95);
$icon-color-hover: $color-white;
$icon-size: 20px;
$icon-size-smaller: 10px;


// header
$header-height: 48px;










